NETWORK_PATH: # (eg. /home/root/csbn)
NETWORK: csbn.net
SSL_KEY_FILE: /etc/letsencrypt/live/[domain]/privkey.pem
SSL_CERT_FILE: /etc/letsencrypt/live/[domain]/cert.pem
SSL_CA_FILE: /etc/letsencrypt/live/[domain]/chain.pem
CHAINCODE_NAME:
ADMIN_USER:
ADMIN_PW:
SERVER_PORT:
CHANNELS:
    - 'channel0'
    - 'channel1'
    - 'channel2'
    - 'channel3'
    - 'channel4'

ORGS:
    - 'courier'
    - 'supp1'
    - 'supp2'
    - 'supp3'
    - 'cust1'
    - 'cust2'
    - 'cust3'