NETWORK_PATH: # (eg. /home/root/csbn)
NETWORK: csbn.net
CHAINCODE_NAME:
ADMIN_USER:
ADMIN_PW:
SERVER_HOST:
SERVER_PORT:
CHANNELS:
    - 'channel0'
    - 'channel1'
    - 'channel2'
    - 'channel3'
    - 'channel4'

ORGS:
    - 'courier'
    - 'supp1'
    - 'supp2'
    - 'supp3'
    - 'cust1'
    - 'cust2'
    - 'cust3'